<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>RMS</title>
    <link rel="stylesheet" href="../static/home.css" />
    
  </head>

  <body>
    <section id="title" class="colored-section">
      <!-- Nav Bar -->
        <nav class="navbar flex-container-row">
          <div class="logo">
            <h1 class="brand-name">RMS</h1>
          </div>
          <div class="nav-links">
            <ul class="nav-link-list">
              <li class="nav-items"><a href="">Login / Register</a></li>
              <li class="nav-items"><a href="">Projects</a></li>
              <li class="nav-items"><a href="">About Us</a></li>
            </ul>
          </div>
        </nav>
        <!-- title -->
        <div class="title">
          <div class="brand-description">
            <h1 class="brand-name">Review Management System</h1>
            <h2 class="tagline"></h2>
          </div>
          <div class="brand-img">
            <img/>
          </div>
        </div>
    </section>
  </body>
</html>
