<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RMS</title>
    <link rel="stylesheet" href="../statics/home.css">
</head>
<body>
    <navbar>
        <div class="nav">
            <h1 class="logo">Review Management System</h1>
            <ul class="nav-list">
                <li class="nav-list-items">Projects</li>
                <li class="nav-list-items"><a href="/login.html">Login/Register</a></li>
                <li class="nav-list-items">About Us</li>
            </ul>
        </div>
    </navbar> 
</body>
</html>